@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-foreground: #000;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --spacing-30: 7.5rem;
}

@layer base {
  * {
    @apply border-zinc-800;
  }
  body {
    background: var(--color-background);
    color: var(--color-foreground);
    font-family: var(--font-sans);
  }
  .container {
    @apply mx-auto py-5 px-6;
  }
}

@layer utilities {
  .underline-hover-effect {
    position: relative;
    width: max-content;
  }

  .underline-hover-effect::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -2px;
    width: 100%;
    height: 1px;
    background-color: currentColor;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
  }

  .underline-hover-effect:hover::after {
    transform: scaleX(1);
    transform-origin: left;
  }
}
